<h1>YOUR CARS</h1>

<%= link_to "List a car for sale", new_car_path, class:"btn btn-success" %>


<h3>List of current cars listed for sale here!</h3>

<div class="card-group">

    <% @for_sale.each do |make, model, year, price, purchased, id, picture| %>
        <% if purchased == false %>
            <div class="card">
                
                <%= image_tag picture, class:"card-img-top" if picture.attached? %>                       

                <div class="card-body">
                    <h6 class="card-title">Make <%= make %></h6>
                    <h6 class="card-title">Model <%= model %></h6>
                    <h6 class="card-text">Year <%= year %></h6>
                    <h6 class="card-text">Price $ <%= price.to_i %></h6>
                </div>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <%= link_to "See More", car_path(id), class:"btn btn-primary" %>
                </div>
            </div>
        <%end%>
    <%end%>
</div>
    
<br/>

<h3>List of cars you have purchased</h3>

<div class="card-group">

    <% @for_sale.each do |make, model, year, price, purchased, id, picture| %>
        <% if purchased %>
            <div class="card">
                
                <%# Here goes the image in rails format - image via id for each car %>
                <%= image_tag picture, class:"card-img-top" if picture.attached? %>
                <%# <img src="..." class="card-img-top" alt="...">                         %>

                <div class="card-body">
                    <h6 class="card-title">Make <%= make %></h6>
                    <h6 class="card-title">Model <%= model %></h6>
                    <h6 class="card-text">Year <%= year %></h6>
                    <h6 class="card-text">Price $ <%= price.to_i %></h6>
                    <h6 class="card-text">SOLD!</h6>
                </div>
            </div>
        <%end%>
    <%end%>
</div>



