<h1>YOUR CARS</h1>

<%= link_to "List a car for sale", new_car_path, class:"btn btn-success" %>


<h3>List of current cars listed for sale here!</h3>

<div class="card-group row mt-5">

    <% @for_sale.each do |make, model, year, price, purchased, id, picture| %>
        <% if purchased == false %>
            <div class="col-md-4 mt-5">
                <div class="card">
                    
                    <%= image_tag picture, class:"card-img-top" if picture.attached? %>                       

                    <div class="card-body">
                        <h6 class="card-title">Make <%= make %></h6>
                        <h6 class="card-title">Model <%= model %></h6>
                        <h6 class="card-text">Year <%= year %></h6>
                        <h6 class="card-text">Price $ <%= price.to_i %></h6>
                    </div>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <%= link_to "See More", car_path(id), class:"btn btn-primary" %>
                    </div>
                    
                </div>
            </div>
        <%end%>
    <%end%>
</div>
    
<br/>

<h3>List of cars you have purchased</h3>

<div class="card-group row mt-5" style="opacity:0.6;filter:alpha(opacity=40);">

    <% @for_sale.each do |make, model, year, price, purchased, id, picture| %>
        <% if purchased %>
            <div class="col-md-4 mt-5">
                <div class="card">                
                    <%= image_tag picture, class:"card-img-top" if picture.attached? %>

                    <div class="card-body ">
                        <h6 class="card-title">Make <%= make %></h6>
                        <h6 class="card-title">Model <%= model %></h6>
                        <h6 class="card-text">Year <%= year %></h6>
                        <h6 class="card-text">Price $ <%= price.to_i %></h6>
                        <h6 class="card-text">SOLD!</h6>
                    </div>

                </div>
            </div>            
        <%end%>
    <%end%>

</div>

<br/>