
<div class="jumbotron">
  <%= image_tag "tick.png" %>
  <h1 class="display-4">Your payment has been successful!</h1>
  <p class="lead">Congratulations, <%= current_user.name%>!</p>
  <br/>
        <h4><strong><%= @car.make.capitalize %> <%= @car.model.capitalize %></strong></h4>
  <div class="card w-25">

    <div class="single-car-display">
      <%= image_tag @car.picture, class:"card w-100" %>
    </div>
  </div>

  <hr class="my-4">
  <%= image_tag "car_icon_1.svg" %>
  <p>Thank you for using ElCARtel!</p>
  <%= link_to "Go back to the Homepage!", cars_path, class:"btn btn-primary btn-lg" %>
</div>


