<h1>List all cars here</h1>

<div class="card" style="width: 18rem;">
    <% @cars.each do |car| %>
        <%# Here goes the image in rails format - image via id for each car %>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <h5 class="card-title"><%= car.make %></h5>
            <p class="card-text"><%= car.model %></p>
            <p class="card-text"><%= car.year%></p>


            <div class="btn-group" role="group" aria-label="Basic example">

                <%= button_to "See", cars_path, class:"btn btn-primary" %>
                <% if user_signed_in?%>
                    <%= button_to "Buy Me!", cars_path, class:"btn btn-success"%>
                <% end %>
            </div>
        </div>
    <% end %>
    
</div>
