<h1>Listing all second hand cars</h1>

<div class="card-group">
    <% @cars.each do |car| %>

        <% if !car.purchased %>
            <div class="card">

                <%# Here goes the image in rails format - image via id for each car %>
                <%= image_tag "https://d3lp4xedbqa8a5.cloudfront.net/s3/digital-cougar-assets/whichcar/2018/05/14/-1/subaru-wrx-sti-offroad.jpg", class:"card-img-top"  %>
                <div class="card-body">
                    <h5 class="card-title">$<%= car.price.to_i %></h5>
                    <h5 class="card-title"><%= car.make %></h5>
                    <p class="card-text"><%= car.model %></p>
                    <p class="card-text"><%= car.colour.colour.capitalize%></p>
                    
                </div>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <%= link_to "See More", car_path(car.id), class:"btn btn-primary" %>
                    <% if user_signed_in?%>
                        <% if current_user.id != car.user_id %>
                            <%= link_to "Buy Me!", cars_path, class:"btn btn-success" %>
                            <%# <%= button_to "Buy Me!", cars_path, class:"btn btn-success" %>
                        <%end%>
                    <% end %>
                </div>
            </div>
        <%end%>

    <% end %>

</div>

