
<%= link_to 'Back', cars_path, class:"btn btn-primary"%>
<h1><%= @car.make%> <%= @car.model %></h1>
<h3>Details</h3>
<div class="card w-100">
    <div class="single-car-display">
        <%= image_tag @car.picture, class:"card-img-top" if @car.picture.attached? %>
        <h4><strong>Price </strong>$ <%= @car.price.to_i %> AU</h4>
        <p><strong>Make </strong><%=  @car.make %></p>
        <p><strong>Model </strong><%=  @car.model %></p>
        <p><strong>Year </strong><%=  @car.year %></p>
        <p><strong>Kilometres </strong><%= @car.kilometres %></p>

        <% if @car.has_rego == true %>
            <p><strong>Registration Status : </strong> Currently Registered</p>
        <%else%>
            <p><strong>Registration Status : </strong> Currently Unregistered</p>
        <%end%>

        <p><strong>Location </strong><%= @car.user.suburb %></p>

    </div>

    <% if user_signed_in?%>
        <% if current_user.id != @car.user_id %>

            <%# ------ Stripe ------ %>
            <button data-stripe="payment" class="btn btn-success">BUY ME!  <%= number_to_currency(@car.price) %> <%= image_tag "credit-card.png" %></button>

            <script src="https://js.stripe.com/v3/"></script>

            <script>
                document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
                    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
                    stripe.redirectToCheckout({
                        sessionId: "<%= @session_id %>"
                    });
                });
            </script>


            <h2><%= image_tag 'contact_seller_access_icon.png' %> Contact seller</h2>
        <%else%>
            <button type="button" class="btn btn-secondary">Cannot Buy</button>
            <%= link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>


            <h3>Seller</h3>
        <%end%>
            <div>
                <p><strong><%= @car.user.name %> <%= @car.user.surname %></strong></p>
                <p><strong><%= @car.user.phone %></strong></p>
                <p><strong><%= @car.user.email %></strong></p>
            </div>
    <%else%>

        <%# Pop up message %>
        <!-- Button trigger modal -->        
        <%= link_to "Buy Me!", new_user_session_path, class:"btn btn-success", data: {toggle: "modal", target: "#staticBackdrop"} %>
    
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"><%= image_tag 'warning_icon.png' %> Attention!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <strong>You cannot purchase a car if you are not logged in!</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= link_to "Login!", new_user_session_path, class:"btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3><%= image_tag "contact_seller_no_access_icon.png" %> Contact seller</h3>
            <p><strong>You need to login to see the seller's details</strong></p>
        </div>
    <%end%>

</div>





