
<h1><%= @car.make%> <%= @car.model %></h1>
<h3>Details</h3>
<div>
    <div class="single-car-display">
        <p>***** HERE GOES ONE OR MORE PHOTOS *****</p>
        <p><strong>Make </strong><%=  @car.make %></p>
        <p><strong>Model </strong><%=  @car.model %></p>
        <p><strong>Year </strong><%=  @car.year %></p>
        <p><strong>Kilometres </strong><%= @car.kilometres %></p>

        <% if @car.has_rego == true %>
            <p><strong>Registration Status : </strong> Currently Registered</p>
        <%else%>
            <p><strong>Registration Status : </strong> Currently Unregistered</p>
        <%end%>

        <p><strong>Location </strong><%= @car.user.suburb %></p>

        <h4><strong>Price </strong>$ <%= @car.price.to_i %> AU</h4>
    </div>

    <% if user_signed_in?%>
        <% if current_user.id != @car.user_id %>
            <%= link_to "Buy Me!", cars_path, class:"btn btn-success" %>        
            <h3>Contact seller</h3>
        <%else%>
        <button type="button" class="btn btn-secondary">Cannot Buy</button>
            <h3>Seller</h3>
        <%end%>
            <div>
                <p><%= @car.user.name %> <%= @car.user.surname %></p>
                <p><%= @car.user.phone %></p>
                <p><%= @car.user.email %></p>
            </div>
    <%else%>

        <%= link_to "Login to buy!", new_user_session_path, class:"btn btn-success" %>

        <div>
            <h3>Contact seller</h3>
            <p>You need to login to see seller's details</p>
        </div>
    <%end%>

</div>


