<!DOCTYPE html>
<html>
  <head>
    <title>ElCarsalesMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="nav-bar">
        <ul>
            <% if user_signed_in?%>
                <li>Manage account</li>
                <li>Browse cars</li>
                <li>About us</li>
                <li>Sign out</li>
                <li>Welcome, <%= current_user.name %>!</li>
            <%else%>
                <li>Login</li>
                <li>Sign up</li>
                <li>Browse cars</li>
                <li>About us</li>
            <%end%>
        </ul>
    <nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
