<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>El CARtel</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar.html.erb' %>
    <% if notice %>
      <%= render 'layouts/notice'%>
    <% elsif alert%>
      <%= render 'layouts/alert'%>
    <%end%>

    <div class="container">     
      <div style="text-align: center;">
        <%= image_tag "El_CARsale_logo.jpg", style:"width: 40%" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
























